<div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-4">
                <h4 class="text-light mb-4">Adres</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>ETS Plaza, Maltepe, İstanbul, Türkiye</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><a href="tel:05347737699">+90 534 773 7699</a></p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i><a href="mail:pricing@talyum-global.com.tr">pricing@talyum-global.com.tr</a></p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" target="_blank" href="https://www.linkedin.com/company/talyumlogistics/"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social" target="_blank" href="https://www.instagram.com/talyumlogistics?igsh=MTVxZ21lNjM2NXdtYw=="><i class="fab fa-instagram"></i></a>
                    <!--
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                    -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4 class="text-light mb-4">Hizmetlerimiz</h4>
                <a class="btn btn-link" href="/pages/karayolu.html">Karayolları Taşımacılığı</a>
                <a class="btn btn-link" href="/pages/air.html">Havayolu Taşımacılığı</a>
                <a class="btn btn-link" href="/pages/deniz.html">Denizyolu Taşımacılığı</a>
                <a class="btn btn-link" href="/pages/intermodal.html">Intermodal Taşımacılık</a>
                <a class="btn btn-link" href="/pages/icnakliye.html">İç Nakliye Taşımacılığı</a>
            </div>
            <div class="col-lg-4 col-md-4">
                <h4 class="text-light mb-4">Sayfalar</h4>
                <a class="btn btn-link" href="/index.html">Anasayfa</a>
                <a class="btn btn-link" href="/pages/hakkimizda.html">Hakkımızda</a>
                <a class="btn btn-link" href="/pages/bizKimiz.html">Ekibimiz</a>
                <a class="btn btn-link" href="/pages/iletisim.html">İletişim</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom">Talyum Global Lojistik</a>, Tüm Hakları Saklıdır.
                </div>
            </div>
        </div>
    </div>
</div>